/* Overall */
body {
  font-family: "Helvetica", sans-serif;
  margin: 0;
  color: #4a4a4a;
}

h1 {
  font-size: 3rem;
  line-height: 3rem;
  margin: 40px auto;
}

h2 {
  font-size: 1.7rem;
  line-height: 1.7rem;
}

p {
  font-size: 1.2rem;
  font-weight: lighter;
  line-height: 1.6rem;
}

button {
  width: 360px;
  background-color: #4a4a4a;
  color: white;
  font-size: 1.2rem;
  margin-top: 12px;
  padding: 12px;
}

/* Header */
header {
  width: 100%;
  height: 64px;
  background-color: white;
  padding: 0 24px;
  display: flex;
  flex-direction: row;
  align-items: center;
  position: fixed;
  z-index: 100;
}

#colmar {
  color: #585858;
  font-size: 24px;
  text-transform: uppercase;
}

#academy {
  color: #9b9b9b;
  font-size: 24px;
  text-transform: uppercase;
}

nav {
  position: fixed;
  right: 24px;
}

nav ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
}

nav li {
  margin: 0 8px;
}

/* Cover */
.cover {
  position: relative;
  top: 64px;
  background-color: #d8d8d8;
  display: flex;
  flex-direction: row;
  padding: 32px 24px;
}

.cover img {
  width: 60%;
  height: 100%;
  margin-right: 24px;
}

.description {
  margin: auto auto auto 24px;
}

/* Articles */
.articles {
  position: relative;
  top: 64px;
  background-color: yellow;
  padding: 0 24px;
  display: flex;
  flex-direction: row;
}

.featured_article {
  position: relative;
  width: 60%;
  border-right: 1px solid #e1e3e3;
  margin-right: 24px;
  padding-right: 24px;
}

.featured_article img {
  width: 100%;
  margin-top: 32px;
}

.other_articles {
  display: flex;
  flex-direction: column;
}
